:root {
  --main-bg-color: #01445e;
  --primary-color: #d6f2fc;
  --secondary-color: #f4a300;
  --whise: rgb(243, 237, 237);
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  color: #fff;
}

.suggestions {
  position: absolute;
  background: #fff;
  color: #333;
  border-radius: 6px;
  margin-top: 5px;
  width: 200px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
}

.suggestion-item:hover {
  background: #f0f0f0;
}

#forecast {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.forecast-day {
  background: rgba(255, 255, 255, 0.2);
  padding: 12px;
  border-radius: 12px;
  width: 120px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
